<?xml version="1.0" encoding="utf-8"?>

<!-- Archivo principal -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agroconectavilla">

    <!-- Permiso para internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permisos de Ubicación -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.google.android.com.keys.API_KEY"
        android:value="TU_API_KEY_DE_GOOGLE_MAPS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <!-- MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- Launcher -->
            <intent-filter>
                <!-- Inicio app -->
                <action android:name="android.intent.action.MAIN" />
                <!-- Icono launcher -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Link -->
            <intent-filter>

                <!-- Abrir enlace -->
                <action android:name="android.intent.action.VIEW" />

                <!-- Categoría default -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- Abrir desde navegador -->
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- URL permitida -->
                <data
                    android:scheme="https"
                    android:host="agroconectavilla.onrender.com" />

            </intent-filter>

        </activity>

        <!-- Registro -->
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />

        <!-- Menú principal -->
        <activity
            android:name=".MainMenuActivity"
            android:exported="true" />

    </application>
<!--Fin de manifest-->
</manifest>